<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon class="list-item_icon">home</mat-icon>
        <span class="nav-caption">HOME</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon class="list-item_icon">monitor_heart</mat-icon>
        <span class="nav-caption">VITAMINS</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon class="list-item_icon">spa</mat-icon>
        <span class="nav-caption">MINERALS</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon class="list-item_icon">heart_broken</mat-icon>
        <span class="nav-caption">HEALTH</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon class="list-item_icon">sports_gymnastics</mat-icon>
        <span class="nav-caption">SPORT</span>
    </a>
  </mat-nav-list>
