<div fxLayout="row" fxLayoutAlign="end">
    <mat-icon color="accent" (click)="onSidenavClose()">clear</mat-icon>
</div>
<div fxLayout="column" fxLayoutAlign="start">
    <mat-nav-list>
        <a mat-list-item routerLink="/products" (click)="onSidenavClose()">
            <mat-icon color="accent" class="list-item_icon">home</mat-icon>
            <span class="nav-caption">HOME</span>
        </a>
        <a mat-list-item [routerLink]="['/products', 'Vitamins']" (click)="onSidenavClose()">
            <mat-icon color="accent" class="list-item_icon">monitor_heart</mat-icon>
            <span class="nav-caption">Vitamins</span>
        </a>
        <a mat-list-item [routerLink]="['/products', 'Minerals']" (click)="onSidenavClose()">
            <mat-icon color="accent" class="list-item_icon">spa</mat-icon>
            <span class="nav-caption">Minerals</span>
        </a>
        <a mat-list-item [routerLink]="['/products', 'Health']" (click)="onSidenavClose()">
            <mat-icon color="accent" class="list-item_icon">heart_broken</mat-icon>
            <span class="nav-caption">Health</span>
        </a>
        <a mat-list-item [routerLink]="['/products', 'Sport']" (click)="onSidenavClose()">
            <mat-icon color="accent" class="list-item_icon">sports_gymnastics</mat-icon>
            <span class="nav-caption">Sport</span>
        </a>
    </mat-nav-list>
</div>